
<ion-content>
  <ion-loading 
  [isOpen]="isLoading" 
  message=" Registrando el Usuario..." 
  spinner="crescent" 
  translucent="true">
</ion-loading>
  <div class="register-container">
    <img src="../../assets/icon/logo.webp" alt="Logo" class="logo" />
    <h1>Crea tu cuenta</h1>
    <p>¡Únete y disfruta de nuestras ofertas exclusivas!</p>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <ion-item> 
        <ion-input  formControlName="name" label="Nombre Completo" label-placement="floating" fill="outline" placeholder="Nombre Completo"></ion-input>
      </ion-item>
      
      
      <ion-item>
        <ion-input formControlName="direccion" label="Dirección " label-placement="floating" fill="outline" placeholder="Dirección"></ion-input>
      </ion-item>

      <ion-item> 
        <ion-input formControlName="telefono" label="Teléfono" label-placement="floating" fill="outline" placeholder="Teléfono"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input formControlName="email" label="Email" label-placement="floating" fill="outline" placeholder="Email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="password" formControlName="password" label="Contraseña" label-placement="floating" fill="outline" placeholder="Contraseña"></ion-input>
        
      </ion-item>
     
      <ion-item>     
     <ion-input type="password"  formControlName="confirmPassword" label="Confirmar Contraseña" label-placement="floating" fill="outline" placeholder="Confirmar Contraseña"></ion-input>
      
    </ion-item>
      <ion-button expand="block" shape="round" (click)="onSubmit();" color="success" [disabled]="registerForm.invalid">Registrarse</ion-button>
    </form>

    <ion-text color="medium">
      <p>
        ¿Ya tienes una cuenta?
        <ion-router-link [routerLink]="['/login']">Inicia sesión aquí</ion-router-link>
      </p>
    </ion-text>
  </div>
</ion-content>
